www.apexgol.com.br {
	redir https://apexgol.com.br{uri} 308
}

novo.tickpost.com.br {
	redir https://apexgol.com.br{uri} 308
}

apexgol.com.br {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	reverse_proxy 172.16.1.3:8000
}
